################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GamesReviewWebsite/.vs/GamesReviewWebsite/v15/Server/sqlite3
/.vs/GamesReviewWebsite/v15/Server/sqlite3
