@model List<GamesReviewWebsite.Models.GamesCollection>

@{
    ViewBag.Title = "Index";
}

<body>
    <h2> All Games </h2>
    <ul>
        @foreach (var Game in @Model)
        {
            <li>@Game.GameName</li>
        }
    </ul>
</body>

