@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Spirit Games<br />
    102 High St, Burton-on-Trent DE14 1LJ<br />
    <abbr title="Phone">P:</abbr>
    0121.311.2215
</address>

<address>
    <strong>Support:</strong>   <a href="#">support@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="#">marketing@outlook.com</a>
</address>