
@{

                ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Games Review Website</h1>
</div>

<div class="row">
    <div class="col">
        <h2> Welcome to our website</h2>
        <p class="font-weight-bold"> Here you can go to add a Review where you can add a review of your game</p>
        <p class="font-weight-bold">The website will also rank the best rated games that are available on the website</p>
        <p class="font-weight-bold"> by displaying "Highly Rated Game"!</p>
    </div>

</div>